In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1554,tt0417433,26000000,17496992,Annapolis,James Franco|Donnie Wahlberg|Jim Parrack|Tyres...,Justin Lin,"50,000 Apply. 1,200 Are Accepted. Only The Bes...","Jake Huard, from a shipbuilders family, promis...",108,Drama,Touchstone Pictures,1/27/2006,5.8,2006
94,tt2473510,10000000,78099553,Paranormal Activity: The Ghost Dimension,Chris J. Murray|Brit Shaw|Ivy George|Lauren Fr...,Gregory Plotkin,You can't save them. All you can do is watch.,"Using a special camera that can see spirits, a...",88,Horror|Thriller,Paramount Pictures|Blumhouse Productions,10/21/2015,5.0,2015
466,tt1287468,85000000,112483764,Cats & Dogs 2 : The Revenge of Kitty Galore,James Marsden|Nick Nolte|Christina Applegate|B...,Brad Peyton,Just like real spies... only furrier.,The ongoing war between the canine and feline ...,82,Comedy|Family,Village Roadshow Pictures,7/30/2010,5.0,2010
1655,tt0338512,74500000,62172050,Deux frÃ¨res,MaÃ¯ Anh Le|Guy Pearce|Oanh Nguyen|Jaran 'See ...,Jean-Jacques Annaud,"Two infant tiger cubs, separated from their pa...",Two tigers are separated as cubs and taken int...,109,Adventure|Drama|Family,PathÃ© Renn Productions|TF1 Films Production|C...,4/7/2004,6.8,2004
712,tt0490181,8000000,2033165,Mutant Chronicles,Ron Perlman|Thomas Jane|Devon Aoki|Sean Pertwe...,Simon Hunter,Welcome to the 23rd century. The new dark ages.,It's the year 2707. Earth's natural resources ...,111,Action|Adventure|Horror|Science Fiction,Isle of Man Film|Edward R. Pressman Film|Parad...,8/7/2008,5.1,2008

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides' #  "+"
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
grouped_data1 = data.groupby(['original_title'])['budget'].max().sort_values(ascending=False)
print(grouped_data1.head(10))

original_title
Pirates of the Caribbean: On Stranger Tides    380000000
Pirates of the Caribbean: At World's End       300000000
Avengers: Age of Ultron                        280000000
Tangled                                        260000000
John Carter                                    260000000
Spider-Man 3                                   258000000
The Lone Ranger                                255000000
The Dark Knight Rises                          250000000
X-Men: Days of Future Past                     250000000
Harry Potter and the Half-Blood Prince         250000000
Name: budget, dtype: int64

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'#  "+"

In [8]:
grouped_data2 = data.groupby(['original_title'])['runtime'].max().sort_values(ascending=False)
print(grouped_data2.head(10))

original_title
Gods and Generals                                    214
The Lord of the Rings: The Return of the King        201
Grindhouse                                           191
King Kong                                            187
Pearl Harbor                                         183
The Wolf of Wall Street                              180
The Lord of the Rings: The Two Towers                179
The Lord of the Rings: The Fellowship of the Ring    178
Alexander                                            175
Cloud Atlas                                          172
Name: runtime, dtype: int64

# 3. Какой из фильмов самый короткий (в минутах)?

In [ ]:
answers['3'] = 'Winnie the Pooh'#  "+"

In [9]:
grouped_data3 = data.groupby(['original_title'])['runtime'].min().sort_values(ascending=True)
print(grouped_data3.head(10))

original_title
Winnie the Pooh             63
Return to Never Land        72
The Jungle Book 2           72
Home on the Range           76
Valiant                     76
Corpse Bride                77
Stuart Little 2             78
The Emperor's New Groove    78
9                           79
Yogi Bear                   80
Name: runtime, dtype: int64

# 4. Какова средняя длительность фильмов?

In [ ]:
answers['4'] = '110'#  "+"

In [10]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [ ]:
answers['5'] = '107'#  "+"

In [11]:
data['runtime'].median()

107.0

### 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [ ]:
answers['6'] = 'Avatar'#  "+"

In [12]:
# лучше код получения столбца profit вынести в Предобработку что в начале

data['profit']=data['revenue'] - data['budget']
grouped_data6 = data.groupby(['original_title'])[('profit')].max().sort_values(ascending=False)
print(grouped_data6.head(10))

original_title
Avatar                                           2544505847
Star Wars: The Force Awakens                     1868178225
Jurassic World                                   1363528810
Furious 7                                        1316249360
The Avengers                                     1299557910
Harry Potter and the Deathly Hallows: Part 2     1202817822
Avengers: Age of Ultron                          1125035767
Frozen                                           1124219009
Minions                                          1082730962
The Lord of the Rings: The Return of the King    1024888979
Name: profit, dtype: int64

# 7. Какой фильм самый убыточный?

In [ ]:
answers['7'] = 'The Lone Ranger'#  "+"

In [13]:
grouped_data7 = data.groupby(['original_title'])[('profit')].min().sort_values(ascending=True)
print(grouped_data7.head(10))

original_title
The Lone Ranger                -165710090
The Alamo                      -119180039
Mars Needs Moms                -111007242
The Adventures of Pluto Nash    -92896027
Flushed Away                    -84540684
Australia                       -80445998
Supernova                       -75171919
A Sound of Thunder              -74010360
Awake                           -71626175
How Do You Know                 -71331093
Name: profit, dtype: int64

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [ ]:
answers['8'] = '1478'#  "+"

In [14]:
len(data[data.profit>0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [ ]:
answers['9'] = 'The Dark Knight'#  "+"

In [15]:
grouped_data9=data[data['release_year']==2008]
grouped_data10 = grouped_data9.groupby(['original_title','release_year'])[('profit')].max().sort_values(ascending=False)
print(grouped_data10.head(10))

original_title                                      release_year
The Dark Knight                                     2008            816921825
Indiana Jones and the Kingdom of the Crystal Skull  2008            601636033
Mamma Mia!                                          2008            557841637
Kung Fu Panda                                       2008            501744560
Hancock                                             2008            474029371
Madagascar: Escape 2 Africa                         2008            453900354
Iron Man                                            2008            445174222
Quantum of Solace                                   2008            386090727
Slumdog Millionaire                                 2008            362910544
Twilight                                            2008            355616625
Name: profit, dtype: int64

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [ ]:
answers['10'] = 'The Lone Ranger'#  "+"

In [16]:
data11=data[(data['release_year'] > 2012)]
data12= data11[(data['release_year'] <= 2014)]
grouped_data12 = data12.groupby(['original_title','release_year'])[('profit')].min().sort_values(ascending=True)
print(grouped_data12.head(10))

original_title                   release_year
The Lone Ranger                  2013           -165710090
R.I.P.D.                         2013            -68351500
Legends of Oz: Dorothy's Return  2013            -51337973
Bullet to the Head               2013            -45510171
Broken City                      2013            -36298836
The Interview                    2014            -32694825
Winter's Tale                    2014            -29199769
Sin City: A Dame to Kill For     2014            -25592384
Oldboy                           2013            -25138978
47 Ronin                         2013            -24037525
Name: profit, dtype: int64

C:\Users\DNS\anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

# 11. Какого жанра фильмов больше всего?

In [ ]:
answers['11'] = 'Comedy'#  "-"

In [18]:
data13 =data['genres'].value_counts()
display(data13)

Comedy                             141
Drama                              102
Comedy|Romance                      60
Drama|Romance                       45
Comedy|Drama|Romance                35
                                  ...
Family|Drama                         1
Thriller|Action|Adventure|Drama      1
Drama|Mystery|Crime                  1
Drama|Horror|Music                   1
Action|History                       1
Name: genres, Length: 652, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [ ]:
answers['12'] = 'Comedy'#  "+"

In [19]:
data14=data[data.profit>0]
data15 = data14['genres'].value_counts()
display(data15)

Comedy                                             121
Drama                                               70
Comedy|Romance                                      52
Drama|Romance                                       38
Horror|Thriller                                     31
                                                  ...
Action|Family|Science Fiction|Adventure|Mystery      1
Horror|Drama|Thriller|Mystery                        1
Science Fiction|Horror|Thriller                      1
Animation|Family|Adventure|Comedy|Fantasy            1
Action|History                                       1
Name: genres, Length: 548, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [ ]:
answers['13'] = 'James Cameron'#  "+"

In [67]:
data166 = data.groupby(['director'])[('revenue')].max().sort_values(ascending=False)
print(data166.head(10))

director
James Cameron               2781505847
J.J. Abrams                 2068178225
Joss Whedon                 1519557910
Colin Trevorrow             1513528810
James Wan                   1506249360
David Yates                 1327817822
Chris Buck|Jennifer Lee     1274219009
Shane Black                 1215439994
Kyle Balda|Pierre Coffin    1156730962
Michael Bay                 1123746996
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
answers['14'] = 'Rob Cohen'

In [73]:
data18=data[data['genres']=='Action']
data19 = data18['director'].value_counts()
print(data19.head(30))

Rob Cohen                2
Marcus Nispel            1
Robert Rodriguez         1
Sydney Pollack           1
Andrew Davis             1
John Moore               1
Rob Bowman               1
Christopher McQuarrie    1
Andy Tennant             1
Kevin Macdonald          1
Joseph Kahn              1
Ridley Scott             1
Paul McGuigan            1
Renny Harlin             1
Harald Zwart             1
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
answers['15'] = 'Chris Hemsworth'

In [34]:
data200=data[data['release_year']==2012]
grouped_data200 = data200.groupby(['cast'])[('profit')].max().sort_values(ascending=False)
print(grouped_data200.head(10))

cast
Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson       1299557910
Daniel Craig|Judi Dench|Javier Bardem|Ralph Fiennes|Naomie Harris                    908561013
Christian Bale|Michael Caine|Gary Oldman|Anne Hathaway|Tom Hardy                     831041287
John Leguizamo|Ray Romano|Chris Wedge|Denis Leary|Seann William Scott                782244782
Ian McKellen|Martin Freeman|Richard Armitage|Andy Serkis|Cate Blanchett              767003568
Kristen Stewart|Robert Pattinson|Taylor Lautner|Peter Facinelli|Elizabeth Reaser     709000000
Jennifer Lawrence|Josh Hutcherson|Liam Hemsworth|Woody Harrelson|Elizabeth Banks     616210692
Ben Stiller|Sacha Baron Cohen|David Schwimmer|Frances McDormand|Chris Rock           601921274
Andrew Garfield|Emma Stone|Rhys Ifans|Denis Leary|Martin Sheen                       537215857
Mark Wahlberg|Mila Kunis|Seth MacFarlane|Joel McHale|Giovanni Ribisi                 499368315
Name: profit, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
answers['16'] =

In [93]:
data24=(data[data.budget>0])
data25 = data24['cast'].value_counts()
print(data25.head(30))

Elijah Wood|Ian McKellen|Viggo Mortensen|Liv Tyler|Orlando Bloom                         3
Jennifer Lawrence|Josh Hutcherson|Liam Hemsworth|Woody Harrelson|Elizabeth Banks         3
Martin Freeman|Ian McKellen|Richard Armitage|Ken Stott|Graham McTavish                   2
Mike Myers|Eddie Murphy|Cameron Diaz|Julie Andrews|Antonio Banderas                      2
Kristen Stewart|Robert Pattinson|Taylor Lautner|Ashley Greene|Peter Facinelli            2
Ewan McGregor|Natalie Portman|Hayden Christensen|Ian McDiarmid|Samuel L. Jackson         2
Patrick Stewart|Hugh Jackman|Ian McKellen|Halle Berry|Famke Janssen                      2
Bradley Cooper|Ed Helms|Zach Galifianakis|Justin Bartha|Ken Jeong                        2
Ioan Gruffudd|Jessica Alba|Chris Evans|Michael Chiklis|Julian McMahon                    2
Jackie Chan|Jet Li|Michael Angarano|Li Bingbing|Collin Chou                              1
Jason Statham|Shu Qi|FranÃ§ois BerlÃ©and|Matt Schulze|Ric Young                          1
Bill Nighy|Gregor Fisher|Colin Firth|Sienna Guillory|Liam Neeson                         1
Kenny Wormald|Julianne Hough|Dennis Quaid|Andie MacDowell|Miles Teller                   1
Tobin Bell|Shawnee Smith|Angus Macfadyen|Bahar Soomekh|Dina Meyer                        1
Mark Wahlberg|Michael PeÃ±a|Danny Glover|Kate Mara|Elias Koteas                          1
Neil Patrick Harris|Christina Ricci|Katy Perry|Hank Azaria|Brendan Gleeson               1
Owen Wilson|Gene Hackman|Gabriel Macht|Charles Malik Whitfield|David Keith               1
Kristen Wiig|Rose Byrne|Maya Rudolph|Wendi McLendon-Covey|Ellie Kemper                   1
Dwayne Johnson|Josh Hutcherson|Kristin Davis|Vanessa Hudgens|Luis GuzmÃ¡n                1
Matthew McConaughey|Sarah Jessica Parker|Zooey Deschanel|Justin Bartha|Bradley Cooper    1
Emma Thompson|Tom Hanks|Paul Giamatti|Colin Farrell|Ruth Wilson                          1
Jason Clarke|Jake Gyllenhaal|Josh Brolin|John Hawkes|Sam Worthington                     1
Colin Farrell|Sam Rockwell|Christopher Walken|Woody Harrelson|Abbie Cornish              1
Terrence Howard|Harold Perrineau|Morris Chestnut|Sanaa Lathan|Taye Diggs                 1
Johnny Knoxville|Jackson Nicoll|Georgina Cates|Spike Jonze|Catherine Keener              1
Daniel Craig|Rooney Mara|Christopher Plummer|Goran Visnjic|Stellan SkarsgÃ¥rd            1
Megan Fox|Will Arnett|William Fichtner|Alan Ritchson|Noel Fisher                         1
Camilla Belle|Katie Cassidy|Tommy Flanagan|Brian Geraghty|Clark Gregg                    1
James Franco|Donnie Wahlberg|Jim Parrack|Tyrese Gibson|Jordana Brewster                  1
Taylor Lautner|Taylor Dooley|Cayden Boyd|George Lopez|David Arquette                     1
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
answers['17'] =

In [99]:
data111=data[data['cast']=='Nicolas Cage']
print(data111.head(10))

Empty DataFrame
Columns: [imdb_id, budget, revenue, original_title, cast, director, tagline, overview, runtime, genres, production_companies, release_date, vote_average, release_year, profit]
Index: []

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
answers['18'] = 'The Fighter'

In [101]:
data31=data[data['production_companies']=='Paramount Pictures']
data32 = data31.groupby(['original_title','release_year'])[('profit')].min().sort_values(ascending=True)
print(data32.head(16))

original_title                release_year
Domestic Disturbance          2001            -20750706
The Fighter                   2010            -15809131
Serving Sara                  2002            -12069815
Last Holiday                  2006             -6600039
Bad News Bears                2005              4252847
Star Trek: Nemesis            2002              7312826
Changing Lanes                2002             49935764
Jackass: The Movie            2002             59282312
Jackass Number Two            2006             61778712
The School of Rock            2003             96282949
Mean Girls                    2004            112042871
The Dictator                  2012            114379533
How to Lose a Guy in 10 Days  2003            127371441
Up in the Air                 2009            138670000
Name: profit, dtype: int64

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [ ]:
answers['19'] = '2015'

In [51]:
data.groupby('release_year')['revenue'].sum()

release_year
2000    10664099805
2001    13017764865
2002    14136361487
2003    14346123312
2004    15663430720
2005    15309425558
2006    14775042320
2007    18162406801
2008    18252781990
2009    20261791024
2010    21071204961
2011    22676791872
2012    23079001687
2013    23213799791
2014    23405862953
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
answers['20'] = '2012'

In [100]:
data34=data[data['production_companies']=='Paramount Pictures']
data35=data34.groupby('release_year')['revenue'].sum()
print(data35.head(16))

release_year
2001     54249294
2002    243461087
2003    308654390
2004    129042871
2005     34252847
2006    111178673
2009    163670000
2010      9190869
2012    179379533
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [ ]:
answers['21'] =

In [65]:
data.groupby('release_date')['original_title'].sum()

release_date
1/1/2007                           A Mighty Heart
1/1/2013              Movie 43La migliore offerta
1/1/2015                                  Taken 3
1/10/2008                              27 Dresses
1/10/2011                                   Drive
                             ...
9/9/2009                     WhiteoutSorority Row
9/9/2010                 Resident Evil: Afterlife
9/9/2011                          The Descendants
9/9/2012                             Lo imposible
9/9/2015     Maze Runner: The Scorch TrialsLegend
Name: original_title, Length: 1435, dtype: object

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)